.center {
    padding: 10px;
    font-family: arial;
    text-align: center;
    font-size: 100px;
    color: #888;
    margin-left: 100px;
}

@media (max-width: 1000px) {
    .center {
        margin-left: calc(33.33% - 233.33px);
    }
}

@media (max-width: 700px) {
    .center {
        margin-left: 0px;
    }
}

.temperature-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* 3 pixel border around text */
    text-shadow: -1px 0px white,
        1px 0px white,
        0px 1px white,
        0px -1px white,
        1px 1px white,
        -1px -1px white,
        -1px 1px white,
        1px -1px white,
        -2px 0px white,
        2px 0px white,
        0px 2px white,
        0px -2px white,
        2px 2px white,
        -2px -2px white,
        -2px 2px white,
        2px -2px white,
        -3px 0px white,
        3px 0px white,
        0px 3px white,
        0px -3px white,
        3px 3px white,
        -3px -3px white,
        -3px 3px white,
        3px -3px white;
}

.temperature-display {
    margin-top: 100px;
}

.temperature {
    float: left;
}

.house-image {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 250px;
}

#condition-image {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    top: 0;
    left: 50%;
}

.house-image, #condition-image {
    opacity: .47;
}

#inside-temp-display {
    width: 400px;
    height: 250px;
}

#outside-temperature-container {
    width: 400px;
    height: 250px;
}

#outside-temperature-container img {
    width: 250px;
}

#curve_chart {
    float: left;
    width: 800px;
    height: 400px;
}

#outside-temperature {
    margin-right: 20px;   
}
