.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /*width: 800px;*/
    padding: 10px;
    font-family: arial;
    text-align: center;
    font-size: 100px;
    color: #888;
    /*margin: 0 auto;*/
    /*margin-left: 10%;*/
    margin-left: calc(33.33% - 233.33px);
}

@media (min-width: 1000px) {
    .center {
        margin-left: 100px;
    }
}

@media (max-width: 700px) {
    .center {
        margin-left: 0px;
    }
}


.temperature {
    /*position: relative;*/
    /*width: 100%;*/
    float: left;
}

.house-icon {
    opacity: .47;
    position: absolute;
}

.temperature-display-container {
    display: flex;
}

#inside-temp-display {
    /*background-image: url(/static/images/house.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
    width: 400px;
    /*height: 400px;*/
    /*display: flex;*/
}

#outside-temp-display {
/*    width: 400px;
    height: 400px;*/
    position: relative;
    float: left;
}

.temperature-display {
    /*top: 100px;*/
    /*left: 17px;*/
    margin-top: 200px;
    width: 100%;
}

.intemp {
    float: left;
}

.intemp img {
    vertical-align: middle;
    opacity: 0.5;
}

.outtemp {
    float: right;
}

.outtemp img {
    vertical-align: middle;
    opacity: 0.5;
}

#curve_chart {
    float: left;
    /*margin-left:100px;*/
    width: 800px;
    height: 400px;
}
