.center {
    padding: 10px;
    font-family: arial;
    text-align: center;
    font-size: 100px;
    color: #888;
    margin-left: 100px;
}

@media (max-width: 1000px) {
    .center {
        margin-left: calc(33.33% - 233.33px);
    }
}

@media (max-width: 700px) {
    .center {
        margin-left: 0px;
    }
}

.temperature-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-shadow: -1px 0px white, 1px 0px white, 0px 1px white, 0px -1px white;
}

.temperature-display {
    margin-top: 100px;
}

.temperature {
    float: left;
}

.house-icon {
    opacity: .47;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 250px;
}

#condition-image {
    opacity: .47;
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    top: 0;
    left: 50%;
}

#inside-temp-display {
    width: 400px;
    height: 250px;
}

#outside-temperature-container {
/*    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;*/

    width: 400px;
    height: 250px;
}

.intemp {
    float: left;
}

.intemp img {
    vertical-align: middle;
    opacity: 0.5;
}

.outtemp {
    float: right;
}

.outtemp img {
    vertical-align: middle;
    opacity: 0.5;
}

#curve_chart {
    float: left;
    width: 800px;
    height: 400px;
}

#outside-temperature {
    margin-right: 20px;   
}
