.center {
    margin-left: 250px;
    width: 500px;
    padding: 10px;
    /*background-color: #CCC;*/
    font-family: arial;
    text-align: center;
    font-size: 100px;
    color: #888;
}

.forecast {
    margin-left:100px;
    padding: 10px;
    font-family: arial;
    text-align: center;
}

.forecast table {
    table-layout: fixed;
    width: 800px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.forecast td {
    text-align: center;
}

.forecast .time {
    line-height: 2;
}

.forecast .temperature {
    line-height: 2;
}

.intemp {
    float: left;
}

.intemp img {
    vertical-align: middle;
    opacity: 0.5;
}

.outtemp {
    float: right;
}

.outtemp img {
    vertical-align: middle;
    opacity: 0.5;
}