.center {
    margin-left: 250px;
    width: 800px;
    padding: 10px;
    /*background-color: #CCC;*/
    font-family: arial;
    text-align: center;
    font-size: 100px;
    color: #888;
}

.indoor-temperature {
    position: relative;
    /*width: 100%;*/
    float: left;
}

.house-icon {
    opacity: .47;
}

.indoor-temp-display {
    position: absolute;
    top: 100px;
    left: 17px;
    width: 100%;
}

.intemp {
    float: left;
}

.intemp img {
    vertical-align: middle;
    opacity: 0.5;
}

.outtemp {
    float: right;
}

.outtemp img {
    vertical-align: middle;
    opacity: 0.5;
}

#curve_chart {
    float: left;
    margin-left:100px;
    width: 800px;
    height: 400px;
}
