<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='weather.js') }}"></script>
</head>
<body>
    <div class="center">
        <div class="temperature-display-container">
            <div id="inside-temp-display">
                <div id="house-image" class="house-image-translate">
                    <img src="static/images/house.png">
                </div>
                <div class="temperature-display temperature-display-transition">
                    <span id="inside-temperature"></span>
                </div>
            </div>
            <div id="outside-temperature-container">
                <div class="temperature-display temperature-display-transition">
                    <span id="outside-temperature"></span>
                </div>
                <div id="condition-image" class="condition-image-translate">
                    <!-- <img src="static/images/rain.png"> -->
                    <!-- <span id="outside-condition"></span> -->
                </div>
            </div>
        </div>

        <div id="curve-chart" class="curve-chart-transition"></div>
    </div>

</body>
</html>