<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="center">
        <div class="temperature-display-container">
            <div id="inside-temp-display">
                <div class="house-icon">
                    <img src="static/images/house.png">
                </div>
                <div class="temperature-display">
                    <span id="insidetemp"></span>
                </div>
            </div>
            <div id="outside-temperature-container" class="temperature-display">
                <div>
                    <span id="outside-temperature"></span>
                </div>
                <div>
                    <span id="outside-condition"></span>
                </div>
            </div>
        </div>

        <div id="curve_chart"></div>
    </div>

    <script type=text/javascript src="{{ url_for('static', filename='weather.js') }}"></script>

</body>
</html>