<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='weather.js') }}"></script>
    <div id="temp_type"><a href="#">c&deg;</a>|f&deg;</div>
    <div class="center">
        <span class="intemp">
            <!-- <img src="static/home.png" height="50" width="50"> -->
            <span id="insidetemp"></span>&deg;
        </span>
        <span class="outtemp">
            <span id="outsidetemp"></span>&deg;
<!--             {% if condition == "overcast" %}
            <img src="/static/overcast.png" height="64" width="64">
            {% elif condition == "fog" %}
            <img src="/static/fog.png" height="64" width="64">
            {% elif condition == "clear" %}
            <img src="/static/moon.png" height="64" width="64">
            {% else %}
            and {{ condition }}
            {% endif %} -->
        </span>
        <br/>
    </div>
    <div id="hourly_forecast">
        <table>
            <tr>
            </tr>
    </table>
    </div>

    <div id="curve_chart"></div>

</body>
</html>