<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
        var tempInFahrenheit = true;

        function updateData() {
            $SCRIPT_ROOT = ''

            var temperatureUrls = {};
            if (tempInFahrenheit) {
                temperatureUrls['#insidetemp'] = '/get_inside_temperature_f';
                temperatureUrls['#outsidetemp'] = '/get_outside_temperature_f';
            } else {
                temperatureUrls['#insidetemp'] = '/get_inside_temperature_c';
                temperatureUrls['#outsidetemp'] = '/get_outside_temperature_c';
            }

            function convertCelsiusToFahrenheit(celsius) {
                return ((celsius * 9.0) / 5.0) + 32.0;
            }

            function updateTemperatureData(selector, urlPath) {
                $.getJSON($SCRIPT_ROOT + urlPath, {}, function(data) {
                    $(selector).text(data.temperature);
                });
            }

            for (key in temperatureUrls) {
                updateTemperatureData(key, temperatureUrls[key]);
            }


            // $.getJSON($SCRIPT_ROOT + '/get_hourly_forecast', {}, function(data) {
            //     $html = ''
            //     $.each(data.forecast, function(index, value) {
            //         $html += index + ' '
            //         $.each(value, function(index, value) {
            //             $html += index + ' ' value + ' '
                        
            //         });
            //     });
            //     $("#hourly_forecast").html($html).show();
            // });
        }
        $(function() {
            setInterval(updateData, 30000);
        });

        $(function() {    
            $("#temp_type").click(function(e) {
                e.preventDefault();
                tempInFahrenheit = !tempInFahrenheit;
                if (tempInFahrenheit) {
                    $("#temp_type").html('<a href="#">c&deg;</a>|f&deg;');
                } else {
                    $("#temp_type").html('c&deg;|<a href="#">f&deg;</a>');
                }
                updateData();
            });
        });

    </script>
    <div id="temp_type"><a href="#">c&deg;</a>|f&deg;</div>
    <div class="center">
        <span class="intemp">
            <!-- <img src="static/home.png" height="50" width="50"> -->
            <span id="insidetemp">{{ inside_temperature|int }}</span>&deg;
        </span>
        <span class="outtemp">
            <span id="outsidetemp">{{ outside_temperature|int }}</span>&deg;
<!--             {% if condition == "overcast" %}
            <img src="/static/overcast.png" height="64" width="64">
            {% elif condition == "fog" %}
            <img src="/static/fog.png" height="64" width="64">
            {% elif condition == "clear" %}
            <img src="/static/moon.png" height="64" width="64">
            {% else %}
            and {{ condition }}
            {% endif %} -->
        </span>
        <br/>
    </div>
    <div id="hourly_forecast">
        <table>
            <tr>
            {% for hour in hourly %}
                <td>
                    <div class="time">
                        {% if hour.FCTTIME.hour|int == 0 %}
                            12 am
                        {% elif hour.FCTTIME.hour|int > 12 %}
                            {{ hour.FCTTIME.hour|int - 12 }} pm
                        {% elif hour.FCTTIME.hour|int == 12 %}
                            {{ hour.FCTTIME.hour|int }} pm
                        {% else %}
                            {{ hour.FCTTIME.hour }} am
                        {% endif %}
                    </div>
                    <div class="temperature">
                        {{ hour.temp.english }}&deg;
                    </div>
<!--                     <div class="condition">
                        {{ hour.condition }}
                    </div> -->
                </td>
            {% endfor %}
            </tr>
    </table>
    </div>
</body>
</html>